
<% content_for :sidebar do %>
    <a href="#wilday-ui-button" class="sidebar-link" data-level="1">Wilday UI - Button Component</a>
    <a href="#default-link-with-underline" class="sidebar-link" data-level="2">Default Link with Underline</a>
    <a href="#default-link-without-underline" class="sidebar-link" data-level="2">Default Link without Underline</a>
    <a href="#link-to-external-url" class="sidebar-link" data-level="2">Link to External URL</a>
    <a href="#button-link" class="sidebar-link" data-level="2">Button Link</a>
<% end %>

<div>
  <h1 id="wilday-ui-button">Wilday UI Button Component</h1>

  <h2 id="default-link-with-underline">Default Link with Underline</h2>
  <div class="component-item">
    <%= w_button "Home", href: "#", variant: :plain %>
    <%= w_button "About", href: "#", variant: :plain, theme: { name: :primary } %>
    <%= w_button "Contact", href: "#", variant: :plain, theme: { name: :secondary } %>
  </div>

  <h2 id="default-link-without-underline">Default Link without Underline</h2>
  <div class="component-item">
    <%= w_button "Home", href: "#", variant: :plain, underline: false %>
    <%= w_button "About", href: "#", variant: :plain, theme: { name: :primary }, underline: false %>
    <%= w_button "Contact", href: "#", variant: :plain, theme: { name: :secondary }, underline: false %>
  </div>

  <h2 id="link-to-external-url">Link to External URL</h2>
  <div class="component-item">
    <%= w_button "Go to Google", href: "https://www.google.com", variant: :plain, target: :blank %>
  </div>

  <div class="separator"></div>

  <h2 id="button-link">Button Link</h2>
  <div class="component-item">
    <%= w_button "Go to Google", href: "https://www.google.com", variant: :solid, target: :blank, underline: false %>
    <%= w_button "Submit Form", href: "#", method: :post, variant: :solid, loading_text: "Submitting...", underline: false %>
  </div>
</div>
